{{ define "main" }}
<section class="site-about-header">
  <div class="text-center overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">{{ .Params.title | safeHTML }}</h2>
    </div>
  </div>
</section>
<section class="site-about-body">
  <div class="container">
    {{ range sort .Pages "File.Path" }}
      {{ if .Params.Background }}
        {{ if eq .Params.Background "dark" }}
          <div class="row mt-3 align-items-center x-bg-secondary">
        {{ else }}
          <div class="row mt-3 align-items-center">
        {{ end }}
          <div class="pt-3 col-lg-12">
            <div class="section-title">
              <h3>{{ .Title }}</h3>
            </div>
          </div>
          {{ range .Pages }}
            <div class="pt-3 col-lg-4">
              <h4>{{ .Title }}</h4>
              <p>{{ .Content }}</p>
            </div>
          {{ end }}
        </div>
      {{ else }}
        <div class="row align-items-center">
            <div class="pt-3 col-lg-8">
              <div class="section-title">
                <h3>{{ .Title }}</h3>
              </div>
              <div>
                <p>{{ .Content }}</p>
              </div>
            </div>
          {{ with .Params.Image }}
            <div class="pt-3 col-lg-4">
              <img height="200px" class="rounded mx-auto d-block" src="{{ . | absURL }}" alt="post-thumb">
            </div>
          {{ end }}
        </div>
      {{end}}
    {{ end }}
  </div>
</section>

{{ partial "call-to-action.html" . }}

{{ end }}