{{ define "main" }}
<section class="site-header">
  <div class="text-center overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">{{ .Params.title | safeHTML }}</h2>
    </div>
  </div>
</section>
<section class="site-body">
  {{ range sort .Pages "File.Path" }}
  <div class="{{ .Params.bgColour | default "bg-white" }}">
  <div class="container">
    <div class="row justify-content-center py-lg-5">
      {{ partial "content-block.html" . }}
      {{ range sort .Pages "File.Path" }}
      {{ partial "content-block.html" . }}
      {{ end }}
    </div>
  </div>
  </div>
  {{ end }}
</section>

{{ partial "call-to-action.html" . }}
{{ end }}
